/* 
.bodyOne {
    position: relative;

    h1::before {
        content: '';

        position: absolute;

        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;

        background-image: url("https://media.giphy.com/media/PhNFE08VrhCfqYr0sO/giphy.gif");
        background-size: cover;
        background-position: top center;
        opacity: 0.25;
    }

}

h1 {
    position: relative;
} */

@viewport {
    width: device-width;
    zoom: 1.1;
    min-zoom: 0.4;
    max-zoom: 2;
    user-zoom: fixed;
}

body {
    overflow-y: scroll;

}

.bodyOne {
    /* overflow-y: auto; */
    position: relative;
}

.bodyOneImage {
    opacity: 0.25;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.bodyOneContent {
    position: relative;
}

.Title {
    font-size: 8vw;
    color: #FFBF00;

   
}