.feed-grid {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    overflow-x: hidden;
    grid-auto-rows: minmax(40vh, min-content);
    align-items: stretch;
    column-gap: 5vh;
    row-gap: 30px;
    grid-auto-flow: dense;
    height: 100%; 
    padding-bottom: 25%;
}

.feed-post {
    height: 100%;
    align-self: stretch;
    justify-self: stretch;
}

@keyframes grow {
    0% {
        transform: scale(0.5);
    }
    100% {
        width: scale(1.0);
    }
}

.feed-post.active {
    grid-column: 1 / span 2;
    grid-row-end: span 2;
    animation: grow 0.25s ease-out backwards;
}

.feed-grid.is-one {
    grid-template-columns: 100%;
    --is-one: true;
}

.feed-grid.is-one .feed-post.active {
    grid-column: unset;
    animation: unset;
    transition: height 0.5s ease-out;
}