[[extend 'layout.html']]

[[block page_head]]
    <link rel="stylesheet" href="css/posts.css">
[[end]]

<style>
    [v-cloak] {
         display: none;
    }
</style>

<div class="navbar-item">
         <div class="buttons">
               <a class="button navbar-item" href="[[=URL('create_post')]]">Create Post</a>
         </div>
</div>

<div id="vue-target" style="height: 100%;">
    <div style="height: 100%;">
        <feed loadurl="[[=XML(load_posts_url)]]"></feed>
    </div>
</div>


[[block page_scripts]]
   <script src="js/components/tag.js"></script>
   <script src="js/components/post.js"></script>
   <script src="js/components/feed.js"></script>
   <script src="js/pages/feed.js"></script>
[[end]]