[[extend 'layout.html']]

[[block page_head]]
<link rel="stylesheet" href="css/posts.css">
[[end]]

<style>
    [v-cloak] {
        display: none;
    }
</style>

[[block page_brand_items]]
<div class="navbar-item">
    <a class="button is-purple-blue has-background-purple-blue has-text-white navbar-item"
        href="[[=URL('create_post')]]">
        <span class="icon">
            <i class="fa fa-plus"></i>
        </span>
        <span>Add Tip</span>
    </a>
</div>
<div class="navbar-item">
    <a class="button is-info navbar-item" href="[[=URL('map', -1)]]">
        <span class="icon">
            <i class="fa fa-map"></i>
        </span>
        <span>View Map</span>
    </a>
</div>
[[end]]

<div id="vue-target" style="height: 100%;">
    <div style="height: 100%;">
        <div style="height: calc(100% - 60px)">
            <feed @newpostactive="newpostactive($event)" @newfeedloaded="newfeedloaded($event)" :loadurl="LOAD_URL"
                :rateurl="RATE_URL" :params="PARAMS" :isone="false"></feed>
        </div>

    </div>
</div>


[[block page_scripts]]
<script>
    const LOAD_POSTS_BASE_URL = '[[=XML(base_load_posts_url)]]';
    const RATE_URL = '[[=XML(rate_url)]]';
    const MAP_PAGE_BASE_URL = '[[=XML(map_url)]]';
    const PROFILE_PAGE_BASE_URL = '[[=XML(profile_url)]]';
    const PARAMS = '[[=XML(params)]]';
</script>
<script src="js/components/tag.js"></script>
<script src="js/components/post.js"></script>
<script src="js/components/searchbar.js"></script>
<script src="js/components/feed.js"></script>
<script src="js/pages/feed.js"></script>
[[end]]