[[extend 'layout.html']]

[[block page_head]]
    <link rel="stylesheet" href="css/posts.css">
[[end]]

<style>
    [v-cloak] {
         display: none;
    }
</style>    

<div id="vue-target" style="height: 100%;">
    <div style="height: 100%;">
        <feed v-bind:posts="posts" v-bind:activeid="activeid" v-bind:activeid="1"></feed>
    </div>
</div>


[[block page_scripts]]
   <script>
      const LOAD_POSTS_URL = "[[=XML(load_posts_url) ]]";
   </script>
   <script src="js/components/tag.js"></script>
   <script src="js/components/post.js"></script>
   <script src="js/components/feed.js"></script>
   <script src="js/pages/feed.js"></script>
[[end]]