[[extend 'layout.html']]

[[block page_head]]
<head>
  <title>UCSC Tips</title>
  <link rel="stylesheet" href="css/index.css">
</head>

[[end]]

[[block page_brand_items]]


<!-- <div class="navbar-item">
   <div class="buttons">
      <a class="button is-primary navbar-item" href="[[=URL('feed')]]">
         <span class="icon"><i class="fa fa-eye"></i></span><span>View Feed</span>
      </a>
   </div>
</div>

<div class="navbar-item">
   <a class="button is-info navbar-item" href="[[=URL('map', -1)]]">
       <span class="icon">
           <i class="fa fa-map"></i>
       </span>
       <span>View Map</span>
   </a>
</div> -->

[[end]]





<div class="body">

   <section id="sec-1">
      <img class="sectionImage" src="https://media.giphy.com/media/PhNFE08VrhCfqYr0sO/giphy.gif" alt="hope this work">

      <p class="Title">Welcome to UCSC Tips</p>
      <p class="Content">Choose your option to navigate variety of campus tips</p>
      <div class="arrows"></div>

      <div class="buttonsMainpage columns">
         <div class=" column ">
            <a class="button is-primary is-rounded is-large" href="[[=URL('feed')]]">
               <span class="icon"><i class="fa fa-eye"></i></span><span>View Feed</span>
            </a>
         </div>
         <div class=" column ">
            <a class="button is-info is-rounded is-large" href="[[=URL('map', -1)]]">
               <span class="icon">
                     <i class="fa fa-map"></i>
               </span>
               <span>View Map</span>
            </a>
         </div>

      </div>

   </section>


















   <!-- <section id="sec-2">


      <p id="sec2title"> What is UCSC Tips? </p>
      <br>
      <p id="sec2content">
         "UCSC Tips gathers all UCSC students to share their campus tips based on its location.
         The campus tips can be finding a best place for study, eating, hiking, or etc in order
         to provide students a better college experience.
         We welcome all different type of tips for the school, and highly value all of the new tips
         at the UCSC campus.
         Again, we welcome all UCSC students to contribute our page."
      </p>

   



   </section>

   <section id="sec-3">
      <p>1. Add Tips </p>
      <p>2. Follow the Current Feeds</p>
      <p>3. View the maps </p>
   </section> -->





</div>
