<!DOCTYPE html>
<html lang="en">
  <head>

    <base href="[[=URL('static')]]/">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/custom-css/bulma.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
     <link href="https://www.ucsc.edu/favicon.ico" rel="shortcut icon">
    [[block page_head]]
      <!-- individual pages can customize header here -->
    [[end]]
  </head>
  <body style="height: 100vh;">
    <!-- Navigation bar -->
    <nav class="navbar has-background-baby-blue" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="[[=URL('index')]]"> <!-- We need to choose whether the feed or the map will be the home/default page -->
          <!-- <img class="logo" width="150" src="images/site_icon.png"> -->
          <span class="title is-3 has-text-white">UCSC TIPS</span>
        </a>
        [[block page_brand_items]]  [[end]]

        <a role="button" class="navbar-burger burger has-text-white" aria-label="menu" aria-expanded="false" data-target="the-navbar-menu"
           onclick="this.classList.toggle('is-active');document.getElementById(this.dataset.target).classList.toggle('is-active');">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>

      </div>




      <div id="the-navbar-menu" class="navbar-menu p-0">
        <div class="navbar-start">
          [[block page_menu_items]]<!-- individual pages can add menu items here -->[[end]]

        </div>

        <div class="navbar-end has-background-baby-blue">
          <div class="navbar-item">
            <div class="buttons">
              [[if globals().get('user'):]]
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link is-primary">
                    [[=globals().get('user').get('email')]]
                  </a>
                  <div class="navbar-dropdown">
                    <a class="navbar-item" href="[[=URL('auth/logout')]]">Logout</a>
                    <a class="navbar-item" href="[[=URL('profile', globals().get('user').get('id')) ]]">Profile</a>
                    <a class="navbar-item" href="[[=URL('auth/change_password')]]">Change Password</a></li>

                  </div>
                </div>
              [[else:]]
                <a class="button has-background-baby-blue has-text-white is-baby-blue" href="[[=URL('auth/login')]]">Log in</a>
                <a class="button has-background-purple-blue has-text-white is-baby-blue" href="[[=URL('auth/register')]]">Sign up</a>
              [[pass]]
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- beginning of HTML inserted by extending template -->
    
    <div style="height: calc(100% - 56px); overflow: hidden;">
      [[include]]
    </div>
    
    
    <!-- end of HTML inserted by extending template -->

    <!-- no footer!
    <footer class="footer">
      <div class="content has-text-centered">
        Made with <a href="https://py4web.com">py4web</a>.
        <a href="https://learn-py4web.github.io">Learn py4web!</a>
      </div>
    </footer>
    -->

  
  </div>
  </body>
  <script src="js/sugar.min.js"></script>
  <script src="js/axios.min.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/utils.js"></script>
  [[block page_scripts]]<!-- individual pages can add scripts here -->[[end]]
</html>
