[[extend 'layout.html']]

[[block page_head]]
<!-- individual pages can customize header here -->

<head>
   <title>Map</title>
   <link rel="stylesheet" type="text/css" href="css/map.css" />
</head>
[[end]]

[[block page_brand_items]]
<div class="navbar-item">
   <a class="button is-primary navbar-item" href="[[=URL('create_post')]]">
      <span class="icon">
         <i class="fa fa-plus"></i>
      </span>
      <span>Add Tip</span>
   </a>
</div>
<div class="navbar-item">
   <div class="buttons">
      <a class="button is-primary navbar-item" href="[[=URL('feed')]]">
         <span class="icon"><i class="fa fa-eye"></i></span><span>View Feed</span>
      </a>
   </div>
</div>
[[end]]

<span id="vue-target" v-cloak>
   <div class="section has-text-white">
      <h1 class="has-text-centered"> Click on a marker to view more details</h1>
   </div>
   <div id="map"></div>
</span>



[[block page_scripts]]
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlu2BP4tVpaDbjYUHOS9EZDEpnjk5Qipc">
</script>
<script>
   const MAP_LOAD_URL = '[[=XML(map_load_url)]]'
   const PID = '[[=XML(pid)]]'
</script>
<script src="js/components/map.js"></script>
[[end]]