[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>

[[block page_head]]
<head>
    <link rel="stylesheet" href="css/posts.css">
    <title>Profile</title>
</head>

[[end]]

[[block page_brand_items]]
<div class="navbar-item">
    <a class="button is-primary navbar-item" href="[[=URL('feed')]]">
        <span class="icon">
            <i class="fa fa-eye"></i>
        </span>
        <span>View Feed</span>
    </a>
</div>
<div class="navbar-item">
    <a class="button is-info navbar-item" href="[[=URL('map', -1)]]">
        <span class="icon">
            <i class="fa fa-map"></i>
        </span>
        <span>View Map</span>
    </a>
</div>
[[end]]

<div id="vue-target" class="section" style="height: calc(100% - 60px); overflow-y: scroll; box-sizing: border-box;"
     v-cloak>
    [[if not person:]]
    <!-- Consider making this redirect to another page instead -->
    <span class="has-text-white">This User does not exist.</span>
    [[else:]]

    <div class="columns is-desktop">
        <div class="column is-3-desktop mt-5">
            <!-- Contains: Profile Picture, Name, # of Followers, rating?, Follow Button, and Edit Button -->
            <div class="container has-text-centered p-2">
                <!-- Profile Picture -->
                <figure class="image is-128x128 is-inline-block">
                    <img class="is-rounded" src="img/profile-silhouette.jpg"> <!-- Placeholder -->
                </figure>
            </div>

            <!-- Name -->
            <div v-if="!edit_status" class="container has-text-centered p-1">
                <span class="title has-text-white">{{first_name}} {{last_name}}</span>
            </div>
            <div v-if="edit_status" class="container has-text-centered p-1">
                <div class="form">
                    <div class="field">
                        <p class="control">
                            <div class="columns">
                                <div class="column">
                                    <input class="input" type="text" v-model="first_name" />
                                </div>
                                <div class="column">
                                    <input class="input" type="text" v-model="last_name" />
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Username/email? -->
            <div v-if="!edit_status" class="container has-text-centered p-1">
                <span class="subtitle has-text-white">{{email}}</span>
            </div>
            <div v-if="edit_status" class="container has-text-centered p-1">
                <div class="form">
                    <div class="field">
                        <p class="control">
                            <input class="input" type="text" v-model="email" />
                        </p>
                    </div>
                </div>
            </div>

            [[if not person['id'] == globals().get('user').get('id'):]]
                <div class="container has-text-centered p-2">
                    <!-- Follow Button (On other user's profile) -->
                    <a class="button is-purple-blue">
                        <span class="subtitle has-text-white">Follow</span>
                    </a>
                </div>
            [[pass]]

            <!-- Edit Feature (Only on the user's own profile) -->
            [[if person['id'] == globals().get('user').get('id'):]]
                <!-- Edit Button (To begin editing) -->
                <div v-if="!edit_status" class="container block has-text-centered p-2">
                    <button @click="edit_status = true" class="button is-purple-blue">
                        <span class="subtitle has-text-white">Edit</span>
                    </button>
                </div>
                <!-- Edit control buttons (for sending edits to server or canceling it) -->
                <div v-if="edit_status" class="container block has-text-centered p-2">
                    <button @click="edit_profile(), edit_status = false" class="button is-purple-blue">
                        <span class="subtitle has-text-white">Submit</span>
                    </button>
                    <button @click="load_profile(), edit_status = false" class="button is-success">
                        <span class="subtitle has-text-white">Cancel</span>
                    </button>
                </div>
            [[pass]]
        </div>

        <div class="column is-9-desktop">
            <!-- Contains: The User's posts -->
            <div style="height: 70vh;">
                <feed @newpostactive="newpostactive($event)" @newfeedloaded="newfeedloaded($event)" :loadurl="LOAD_URL"
                    :rateurl="RATE_URL" :params="PARAMS" :isone="true"></feed>
            </div>
        </div>
    </div>

    [[pass]]
</div>

<!-- Note: using "user" as a variable name (where "person" is now used) creates an issue where going to a user's
profile page would log you into that user. -->

[[block page_scripts]]
<script>
    const LOAD_URL = '[[=XML(base_load_posts_url)]]';
    const RATE_URL = '[[=XML(rate_url)]]';
    const PARAMS = '[[=XML(params)]]';
    const MAP_PAGE_BASE_URL = '[[=XML(map_url)]]';
    const PROFILE_PAGE_BASE_URL = '[[=XML(profile_url)]]';
    const load_profile_url = '[[=XML(load_profile_url)]]';
    const edit_profile_url = '[[=XML(edit_profile_url)]]';
</script>
<script src="js/components/tag.js"></script>
<script src="js/components/post.js"></script>
<script src="js/components/searchbar.js"></script>
<script src="js/components/feed.js"></script>
<script src="js/pages/profile.js"></script>
[[end]]